{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <h1 class="text-center">Order is failed. Contact to our support</h1>
    <a href="{{path('app_homr')}}" class="btn btn-danger">Back to home</a>
{% endblock %}